
#home{
    display: flex;
    margin-left: 50px;
    margin-top: 45px;
    justify-content: center;
}

#about{
    display: flex;
    justify-content: center;
    
}

#service{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#about, #services, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
