<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="row mb-3">
    {% if query %}
    <div class="col-12">
        results for <b>{{query}}</b>
        <hr>
    </div>
    {% else %} 
   
    <div class="col-12 col-md-6 mx-auto py-5">
        <form method="POST" action="/petApp/">
            <input class="form-control" name="q" type="text" placeholder="search">
            <button>search</button>
        </form>
    </div>
    <div class="col-12">
        <hr>
        <div class="row">
            {% for obj in object_list %}
            {% include 'petApp/card.html' with instanc=obj %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</body>
</html>