{% extends 'base/base.html' %}
{% block content %} 
<div class="card-deck">
<div class="row">
  {% for pet in pet %}
  <div class="card" style="width: 18rem;">
    <img src="{{pet.image}}" width="60" height="200" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{pet.name}}</h5>
      <p class="card-text"> {{pet.description}}</p>
      <p class="card-text"> ${{pet.price}}</p>
      <a href="/{{cartpage.id}}" class="btn btn-primary">Add cart</a>
      <a href="#" class="btn btn-success">Buy</a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}