<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-lg-3">
        <div class="card" style="height:350px; cursor: pointer;">
            <div class="card-body">
                <a href="{{instance.slug}}/">
                    <img height="200px" class="card-img-top" src="{instance.image}">
                    <p class="card-text">{{instance.description}}</p>
                    <p>price<b>:${{instance.price}}</b></p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
